<%= @post.name %> was deleted

<body>
  <p>
    blog blog blog blog blog
  </p>

  <h1>Posts</h1>
  <p>

  </p>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= post.name %>
      </li>
    <% end %>
  </ul>
</body>
