<p>New Blog Post</p>
<form action="/posts" method="post">
  <p>Title: </p>
  <p><input type="text" name="name"></p>  <!-- input type="text" name="post[name]" -->
  <p>Content: </p>
  <p><input type="text" name="content"></p>  <!-- input type="text" name="post[content]" -->
  <input type="submit" value="submit">
</form>