<h2><%= @post.name %></h2>
<h2><%= @post.content %></h2>

<form action="/posts/<%=@post.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE"/>
  <input type="submit" value="delete">
</form>
