<form action="/posts" method="POST">
  Name: <input type="text" name="post[name]" id="name">
  Content: <input type="text" name="post[content]" id="content">
  <input type="submit" id="submit"/>
</form>
