
<h1>Create a Post</h1>
<form action="/posts/new" method="post">
  Name: <input type="text" name="name" value=""><br><br>
  Content: <br> <textarea name="content" rows="7" cols="80"></textarea> <br><br>
  <input type="submit" name="submit" value="submit">
</form>
