<!-- make a new post, show a form to make a new post -->

<p>Make a new Blog Post</p>
<form method="POST" action="/posts">
<p>Name:</p>
<p><input type="text" name="name"></p>
<p>Content:</p>
<p><input type="text" name="content"></p>
<p><input type="submit" id="submit"></p>
