<h1>Create a New Blog Post</h1>

<form action="/posts" method="post">
  <p>Name of Blog: <input id="name" type="text" name="post[name]" value="name"> </p>
  <p>Content for Blog: <input id="content" type="text" name="post[content]" value="content"> </p>
  <input id="submit" type="submit" name="submit" value="Submit">
</form>
